body {
  background-color: #ddd; /* Background color */
  color: #222; /* Foreground color used for text */
  font-family: Helvetica;
  font-size: 14px;
  margin: 0; /* Amount of negative space around the outside of the body */
  padding: 0; /* Amount of negative space around the inside of the body */
}

nav {
    background-color: #ccc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999));
    border-color: #666;
    border-style: solid;
    border-width: 0 0 1px 0;
}

nav h1 {
    color: #222;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    text-shadow: 0px 1px 0px #fff;
    max-width: 160px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
nav ul {
  margin: 10px;
} 
nav ul.hide {
  display: none;
} 

div.leftButton { 
	font-weight: bold; 
	text-align: center; 
	line-height: 28px; 
	color: white; 
	text-shadow: rgba(0,0,0,0.6) 0px -1px 0px; 
	position: absolute;
	top: 7px; 
	left: 6px; 
	max-width: 50px; 
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis; 
	border-width: 0 8px 0 14px; 
	-webkit-border-image: url(/images/back_button.png) 0 8 0 14;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
#header div.leftButton.clicked {
	-webkit-border-image: url(/images/back_button_clicked.png) 0 8 0 14;
}

ul {
  list-style: none;
  padding: 0;
}

ul li a {
  border: 1px solid #999;
  color: #222222;
  display: block;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: -1px;
  padding: 12px 20px 12px 10px;
  text-decoration: none;
  background: url(/images/listArrow.png) #fff no-repeat right center;
}

div#needschanged{
  padding-left: 90px;
  background: transparent url(/images/person-icon.jpg) 0 0 no-repeat;
  height: 70px;
}


#accounts div#needschanged{
  background: transparent url(/images/account-icon.jpg) 0 0 no-repeat;
}

div#needschanged h2, div#needschanged p#contact_title, div#needschanged p#contact_company {
  margin: 0;
  width: 200px;
}



ul {
    list-style: none;
    padding: 0;
}
ul li a {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    color: #222222;
    display: block;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: -1px;
    padding: 12px 10px;
    text-decoration: none;
}
ul li:first-child a {
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}
ul li:last-child a {
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}
ul li a:active, ul li a:hover {
    background-color: #fff;
    color: #ace;
	background: url(/images/listArrowSel.png) #fff no-repeat right center;
}

dl {
  list-style: none;
  padding: 0;
  padding: 12px 0;
}
dl dt, dl dd {
  background-color: #fff;
  border: 1px solid #999;
  color: #222222;
  display: block;
  font-weight: bold;
  margin: 0 0 -1px 0;
  padding: 12px 10px;
  text-decoration: none;
}
dl dt {
  border: 0;
  background-color: transparent;
  width: 60px;
  float: left;
  color: #516691;
  text-align: right;
  padding-top: 13px;
}
dl dd {
  padding: 12px 10px 12px 80px;
}
dl dt:first-child {
  -webkit-border-top-left-radius: 8px;
}
dl dt:first-child + dd {
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
}
dl dd:last-child {
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
}

#content {
    padding: 10px;
    text-shadow: 0px 1px 0px #fff;
}

/* +forms */

label {
  display: none;
}
input {
  font-size: large;
  width: 90%;
}
input[type="submit"] {
  width: 95%;
  font-weight: bold;
  text-align: center;
  color: white;
  text-shadow: rgba(0,0,0,0.6) 0px -1px 0px;
  -webkit-border-image: url(/images/grayButton.png) 0 8 0 8;
}

#progress { 
	-webkit-border-radius: 10px; 
	background-color: rgba(0,0,0,.7); 
	color: white; 
	font-size: 18px; 
	font-weight: bold; 
	height: 80px; 
	left: 60px; 
	line-height: 80px; 
	margin: 0 auto; 
	position: absolute; 
	text-align: center; 
	top: 120px; 
	width: 200px;
}

dl#email dd {
/*
*/
margin-left: -80px;
overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}